@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}



.a-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.a-container-fluid {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.a-wrapper1366 {
  padding: 0px 15px;
  max-width: 1366px;
}

@media screen and (min-width: 768px) {
  .a-container {
    padding-right: 0px;
    padding-left: 0px;
    width: 750px;
  }
}

@media screen and (min-width: 1024px) {
  .a-container {
    padding-right: 0px;
    padding-left: 0px;
    width: 1000px;
  }
}

@media screen and (min-width: 1200px) {
  .a-container {
    padding-right: 0px;
    padding-left: 0px;
    width: 1170px;
  }
}




//767
//1023
//1199








